<div class="row">
  <div class="col-lg-12">
    <div class="row alert alert-info" role="alert">
      <h2 class="in-the-middle">Watchlist</h2>&nbsp;&nbsp;&nbsp;&nbsp;
      <button 
        class="btn btn-warning" 
        (click)="load()"
        [ngClass]="{'not-allowed': true}"
        ><h5>Load</h5>
      </button>
    </div>
  </div>
  <br>
</div>
<div class="row">
  <table class="table table-bordered table-dark table-hover">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}} </th>
      </tr>
    </thead>
    <tbody   >
      <tr 
        *ngFor="let data of stockData?.data; let i = index"
        style="cursor: pointer"
        appActive
        (click)="onSelectedRow(i, data.symbol)">
        <td>{{data.name}}</td>
        <td>{{data.stock_exchange_short}}</td>
        <td>{{data.currency}}</td>
        <td>{{data.price}}</td>
        <td>
          <div 
          [ngClass]="{'arrow-up': data.price > data.close_yesterday,'arrow-down': data.price < data.close_yesterday, 'same': data.price === data.close_yesterday}"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
