<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="card bg-dark">
        <div class="card-header">
          <div class="row">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/uT04ujpTR38" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="row">
            <div class="card">
              <div class="card-header">
                <ul>
                  <li>This video was made in case the charts wont load.</li>
                  <li>That is because, the calls made to the external api, which contains the shares, are limited.</li>
                  <li>The token provides only 25 GET requests per day for intraday data, so recources are exhausted rather quickly.</li>
                  <li>Feel free to watch the video, in order to get the general idea of how this app is supposed to work.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>