<nav class="navbar navbar-expand navbar-dark bg-secondary mb-4">
  <!-- <div class="container"> -->
    <h1 style="color:white;">Market Watcher&nbsp;&nbsp;&nbsp;&nbsp;</h1>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a routerLink="/dashboard" routerLinkActive="current">
                Dashboard
              </a>
          </li>
          <li class="nav-item">
              <a routerLink="/symbols" routerLinkActive="current">
                Symbols
              </a>
          </li>
          <li class="nav-item">
            <a href="https://www.youtube.com/watch?v=uT04ujpTR38" target="_blank">Demo</a>
          </li>
        </ul>
      </div>
  

</nav>

<router-outlet></router-outlet>