table{ width: 100%;}

tbody {
  display: block;
  height: flex;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  /* even columns width , fix width of table too*/
}

.table tr.active th {
  background-color:#5bc0de !important;
}

.not-allowed {
  cursor: not-allowed;
}

.in-the-middle {
  text-align: center;
  vertical-align: center;
}