<div class="container">
  <form>
    <div class="row form-group form-inline searchBar">
      <div class="col-lg-8 form-group form-inline searchBar">
        <h5>Search by <code>SYMBOL</code> or <code>DESCRIPTION</code>: 
          <input id="search-box" #searchBox (input)="search(searchBox.value)">
        </h5>
      </div>
      <div class="col-lg-2">
        <button 
          class="btn btn-primary" 
          (click)="onAdd()" 
          [disabled]="this.disabled" 
          appActive
          [ngClass]="{'not-allowed': !this.isShareSelected || this.disabled}">+ Add to watch list</button>
      </div> 
      <div class="col-lg-1">
        <button 
          class="btn btn-danger"
          (click)="onDelete()"
          appActive
          [disabled]="!this.watchListSelectedRow.isSelected || this.watchlist.length === 0 || this.disableRemoveButton"
          [ngClass]="{'not-allowed': !this.watchListSelectedRow.isSelected || this.watchlist.length === 0}">Remove</button>
      </div> 
      <div class="col-lg-1">
        <button 
          class="btn btn-success"
          (click)="onSave()">Save</button>
      </div> 
      
    </div>
    <div class="row">
      <div class="col-lg-8">
        <table class="table table-bordered table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Description</th>
              <th scope="col">Currency</th>
              <th scope="col">Stock Exchange</th>
            </tr>
          </thead>
          <tbody>
            <h3 *ngIf="noResults">
              No Results
            </h3>
            <tr *ngIf="isLoading">
              <td>
                <div style="text-align: center;">
                  <app-loading-spinner></app-loading-spinner>
                </div>
              </td>
            </tr>
            <tr 
              *ngFor="let data of (shares$ | async); let i = index " 
              style="cursor: pointer;" 
              appActive
              (click)="onSelectedRow(i, data.Symbol)">
              <td>{{data.Symbol}}</td>
              <td>{{data.Name}}</td>
              <td>{{ data.Currency }}</td>
              <td>{{ data["StockExchangeLong"] }}</td>
              <!-- <td>{{ data["Stock Exchange Long"] }}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-4">
        <app-watchlist></app-watchlist>
      </div>
    </div>
  </form>
</div>