table{ width: 100%;}

tbody {
  display: block;
  height: 530px;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  /* even columns width , fix width of table too*/
}

thead {
  width: calc(100% - 1em)
    /* scrollbar is average 1em/16px width, remove it from thead width */
}

.table tr.active td {
  background-color:#5bc0de !important;
}

.searchBar {
  padding-right: 15px;
  padding-left: 15px;
}

.not-allowed {
  cursor: not-allowed;
}

.in-the-middle {
  text-align: center;
  vertical-align: center;
}